{% extends "base.html" %}

{% block content %}
<html lang="en">

<center>
<body>

</div>
<h1>Fashion People</h1>
<p> Fashion coordy recommendation for 20's men and girls in Website</p>
<img src=https://i.pinimg.com/736x/7b/e8/8a/7be88acbef00892a7de81d422101a8ed.jpg width="500" height="600" >


{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <p><button type="button"><a href="/recommend/{{ question.id }}/">Start</a></button></p>
    {% endfor %}
    </ul>
{% else %}
    <p>No recommend are available.</p>
{% endif %}

</body>
    </center>
</html>
{% endblock %}